# Ignorer les fichiers d'environnement
/.env
/.env.local
/.env.local.php
/.env.*.local

# Ignorer les fichiers de configuration sensibles
/config/secrets/prod/prod.decrypt.private.php

# Ignorer les dépendances et caches
/vendor/
/var/

# Ignorer les fichiers générés par Symfony
/public/bundles/

# Ignorer les fichiers liés à PHPUnit
/phpunit.xml
.phpunit.result.cache

# Ignorer les fichiers liés à Webpack Encore
/node_modules/
npm-debug.log
yarn-error.log

# Ignorer les fichiers générés par Symfony Asset Mapper
/public/assets/
/public/build/
/assets/vendor/
