{% extends 'base.html.twig' %}

{% block title %}Edit EC{% endblock %}

{% block body %}
    <h1>Edit EC</h1>

    {{ include('ec/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_e_c_index') }}">back to list</a>

    {{ include('ec/_delete_form.html.twig') }}
{% endblock %}
