<form method="post" action="{{ path('app_u_e_manager_delete', {'id': u_e_manager.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ u_e_manager.id) }}">
    <button class="btn">Delete</button>
</form>
