{% extends 'base.html.twig' %}

{% block title %}Edit UEManager{% endblock %}

{% block body %}
    <h1>Edit UEManager</h1>

    {{ include('ue_manager/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_u_e_manager_index') }}">back to list</a>

    {{ include('ue_manager/_delete_form.html.twig') }}
{% endblock %}
