{% extends 'base_dashboard.html.twig' %}

{% block title %}New LevelManager{% endblock %}

{% block body %}
    {# <h1>Create new LevelManager</h1> #}

    {{ include('level_manager/_form.html.twig') }}

    {# <a href="{{ path('app_level_manager_index') }}">back to list</a> #}
{% endblock %}
