{% extends 'base.html.twig' %}

{% block title %}New SchoolManager{% endblock %}

{% block body %}
    <h1>Create new SchoolManager</h1>

    {{ include('school_manager/_form.html.twig') }}

    <a href="{{ path('app_school_manager_index') }}">back to list</a>
{% endblock %}
