{# templates/user/register_student.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Inscription Étudiant{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Inscription Étudiant</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">S'inscrire</button>
        {{ form_end(form) }}
    </div>
{% endblock %}